@import 'core.scss';

.heading,
.message {
  margin: 3rem auto;
  max-width: $m;
  text-align: center;
}

.message {
  background-color: var(--light);
  border: 1px solid var(--line);
  border-radius: 9px;
  font-size: 15px;
  margin-top: 1rem;
  padding: 1.5rem;
  position: relative;

  .luk {
    align-items: center;
    background-color: var(--main);
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    display: flex;
    height: 1.5rem;
    justify-content: center;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
  }
}

.contactInfo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.contactInfo a {
  align-items: center;
  display: flex;
  margin-left: 1rem;

  &:first-of-type::after {
    border-right: 1px solid var(--main);
    content: '';
    height: 100%;
    margin-left: 1rem;
  }

  &:hover {
    color: var(--red);
  }

  span {
    margin-right: 0.25rem;
  }
}

.shop {
  border-top: 1px solid var(--line);
  margin: 0 auto;
  max-width: calc($l * 1.25);
  position: relative;
  width: 100%;

  @media (max-width: $m) {
    border: none;
  }
}

.filter {
  margin: 0 auto;
  margin-top: 2rem;
  text-align: left;
  width: 100%;

  @media (min-width: $m) {
    float: left;
    height: 100%;
    left: 1rem;
    max-width: 300px;
    position: sticky;
    top: 2rem;
    z-index: 99;
  }
}

.filterInner {
  width: 100%;

  .searchBarContainer {
    margin: 0.25rem;
  }

  .searchBar {
    border: 2px solid var(--main);
    border-radius: 12px;
    font-size: 14px;
    padding: 0.75rem;
    width: 100%;

    @media (max-width: $m) {
      font-size: 16px;
    }
  }

  .searchIcon {
    height: 18px;
    position: absolute;
    right: 18px;
    top: 16px;
  }

  .filterContainer {
    border: 2px solid var(--main);
    border-radius: 12px;
    cursor: pointer;
    font-size: 12px;
    margin: 0.25rem;
    margin-bottom: 0.4rem;
    padding: 0.5rem;
    position: relative;
    width: calc(100% - 0.5rem);

    &:last-of-type {
      margin-bottom: 1rem;
    }

    @media (max-width: $m) {
      font-size: 16px;
    }

    .openDropdown {
      display: inherit;
    }

    .closeDropdown {
      display: none;
    }

    .filterIcon {
      height: 18px;
      position: absolute;
      right: 16px;
      top: 16px;
      pointer-events: none;
    }

    .overskrift {
      font-size: 14px;
      margin: 0.25rem;
      opacity: 0.5;
      position: relative;
    }

    .tag {
      align-items: center;
      background-color: transparent;
      border: none;
      border-radius: 6px;
      color: var(--main);
      display: inline-flex;
      font-size: 11px;
      font-weight: bold;
      height: 24px;
      justify-content: flex-start;
      line-height: 1;
      margin: 0.1rem;
      text-transform: uppercase;

      @media (max-width: $m) {
        justify-content: center;
        padding: 0 0.8rem;
      }

      &:first-of-type span {
        margin-right: 0.1rem;
      }

      span {
        display: flex;

        sup {
          opacity: 0.5;
        }
      }
    }

    .tag:hover:not(.selected) {
      background-color: var(--line);
      color: var(--main);
      cursor: pointer;
    }

    .selected {
      background-color: var(--line);
      cursor: pointer;
    }
  }
}

.list {
  position: relative;
  max-width: calc($l * 1.25);
  margin: 0 auto;
  right: 0;

  @media (min-width: $m) {
    margin-left: calc(330px + 2rem);
  }
}

.listInner {
  margin: 2rem 0 0 auto;
  max-width: $m;

  .models {
    margin-bottom: 2rem;
  }

  .models h2 {
    font-size: 21px;
    margin: 0.5rem 0;
  }

  .models ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.header {
  border-bottom: 1px solid var(--light);
  display: flex;
  font-size: 15px;
  margin-bottom: 0.5rem;

  .col1,
  .col4 {
    flex: 1.5;
  }

  .col2,
  .col3 {
    flex: 1;
  }
}

.row {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
}

.model {
  background-color: var(--white);
  border: 1px solid var(--line);
  border-radius: 9px;
  display: inline-flex;
  font-size: 15px;
  justify-content: space-between;
  margin: 3px 6px;
  /*max-width: 265px;*/
  width: 100%;
  padding: 0.75em;
  position: relative;

  &:before {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
    border-radius: 9px;
    bottom: 0;
    //content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &:hover {
    border-color: #000;
    cursor: pointer;
  }

  @media (max-width: $m) {
    display: inline-block;
    max-width: 100%;
  }

  .name {
    color: var(--main);
    flex: 1;
  }

  .year,
  .sku,
  .forBag,
  .comment {
    opacity: 0.6;
    flex: 1;
  }

  span {
    display: block;
    opacity: 0.75;
  }

  span.name,
  span.pris {
    margin-bottom: 6px;
    font-weight: 600;
    opacity: 1;
  }

  span.pris {
    margin-top: 6px;
  }
}

.order {
  background-color: var(--white);
  bottom: 1rem;
  border-radius: 9px;
  -webkit-box-shadow: 0px 0px 200px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 200px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 200px 0px rgba(0, 0, 0, 0.4);
  max-width: 440px;
  padding: 1rem;
  position: fixed;
  right: 1rem;
  transform: translateY(200%);
  z-index: 99;
  width: 100%;

  @media (max-width: $m) {
    bottom: 0;
    border-radius: 0;
    padding-bottom: 3rem;
    right: 0;
  }
}

.showOrder {
  transform: translateY(0%);
  transition: 0.4s;
}

.ordreListe {
  border: 1px solid var(--line);
  border-radius: 9px;
  list-style: none;
  font-size: 15px;
  padding: 1rem;
  z-index: 1;

  li {
    opacity: 0.5;
  }

  li:first-of-type {
    opacity: 1;
  }
}

.videre,
.anuller {
  background-color: var(--white);
  border: 1px solid var(--main);
  border-radius: 9px;
  color: var(--main);
  cursor: pointer;
  display: block;
  font-size: 15px;
  height: 3rem;
  margin-top: 0.25rem;
  width: 100%;

  &:hover {
    background-color: var(--line);
  }
}

.videre {
  background-color: var(--main);
  color: var(--white);

  &:hover {
    background-color: grey;
  }
}

.bestilling {
  margin: 3rem auto;
  max-width: $m;
}
